---
layout: home
author_profile: true
classes: wide
header:
  overlay_color: "#000"
  overlay_filter: "0.5"
  overlay_image: /assets/images/cat.jpeg
title: "provo_ahmad hacks stuff"
excerpt: "CTF solutions, malware analysis, security research, and more"
---

<div class="feature__wrapper">
  <div class="feature__item">
    <div class="archive__item">
      <div class="archive__item-body">
        <h2 class="archive__item-title">Latest Posts</h2>
        <div class="archive__item-excerpt">
          Recent writeups, research findings, and security tools
        </div>
      </div>
    </div>
  </div>
</div>

{% include feature_row id="intro" type="center" %}

{% include feature_row %} 