<div class="masthead">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      <nav id="site-nav" class="greedy-nav">
        <a class="site-title" href="/">
          <img src="/assets/images/cat.jpeg" alt="provo_ahmad" class="site-logo" style="width: 30px; height: 30px; border-radius: 50%; margin-right: 10px;">
          provo_ahmad hacks stuff
        </a>
        <ul class="visible-links">
          <li><a href="/about/">About Me</a></li>
          <li><a href="/categories/ctf/">CTF Writeups</a></li>
          <li><a href="/categories/research/">Research</a></li>
          <li><a href="/categories/tools/">Tools</a></li>
          <li><a href="/tags/">Tags</a></li>
          <li><a href="https://github.com/provo_ahmad"><i class="fab fa-github"></i> GitHub</a></li>
        </ul>
        <button class="greedy-nav__toggle" type="button">
          <span class="visually-hidden">Toggle menu</span>
          <div class="navicon"></div>
        </button>
      </nav>
    </div>
  </div>
</div> 